sub-proj/fHashShlExt/Debug/*
sub-proj/fHashShlExt/Release/*
sub-proj/fHashShlExt/Release.ENUS/*
sub-proj/fHashShlExt/x64/*
sub-proj/fHashShlExt/fHashShlExt_i.c
sub-proj/fHashShlExt/fHashShlExt_i.h
sub-proj/fHashShlExt/fHashShlExt_p.c
trunk/_UpgradeReport_Files/*
trunk/Debug/*
trunk/Release/*
trunk/Release.ENUS/*
trunk/x64/*
trunk/fHashCmd.xcodeproj/xcuserdata/*
trunk/fHashCmd.xcodeproj/project.xcworkspace/xcuserdata/*
trunk/fHashCmd.xcodeproj/project.xcworkspace/xcshareddata/*
trunk/fHashMacUI.xcodeproj/xcuserdata/*
trunk/fHashMacUI.xcodeproj/project.xcworkspace/xcuserdata/*
trunk/fHashMacUI.xcodeproj/project.xcworkspace/xcshareddata/*
trunk/fHash.xcworkspace/xcshareddata/*
trunk/fHash.xcworkspace/xcuserdata/*
trunk/DerivedData/*
*.aps
*.ncb
*.old
*.suo
*.user
*.DS_Store
UpgradeLog*

